<!-- =========    START PRELOADING    ======== -->
<div class="loading">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>
<!-- =========    END PRELOADING    ======== -->

<!-- COLOR SWITCHE -->


<!-- =========    START CONTAINER    ======== -->
<div class="container">
    <div class="row">

        <div class="main-page-content">
            <div class="main-page-s">
                <!-- =========    COLLECT THE NAV LINKS AND OTHER CONTENT FOR TOGGLING    ======== -->
                <div class="slide-nav-btn">
                    <span></span>
                </div>
                <!-- =========    SIDEBAR START    ======== -->
                <div class="sidebar">
                    <nav>
                        <!-- MENU -->
                        <ul id="navbar" role="tablist">
                            <li class="active">
                                <a href="index.html#home" aria-controls="home" role="tab" data-toggle="tab">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#about" aria-controls="about" role="tab" data-toggle="tab">
                                    <i class="fa fa-address-card-o"></i>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#resume" aria-controls="resume" role="tab" data-toggle="tab">
                                    <i class="fa fa-book"></i>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#portfolio" aria-controls="portfolio" role="tab" data-toggle="tab">
                                    <i class="fa fa-desktop"></i>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#blog" aria-controls="blog" role="tab" data-toggle="tab">
                                    <i class="fa fa-newspaper-o"></i>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#contact" aria-controls="contact" role="tab" data-toggle="tab">
                                    <i class="fa fa-comments-o"></i>
                                </a>
                            </li>
                        </ul>

                        <!-- SOCIAL ICONS -->
                        <div class="social text-center">
                            <a href="<%=homeInfo?.facebook_url%>" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="<%=homeInfo?.twitter_url%>" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>

                            <a href="<%=homeInfo?.linkedin_url%>" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>

                        </div>
                    </nav>
                </div>
                <!-- =========    SIDEBAR END    ======== -->
                <div class="right-area tab-content">
                    <!-- =========    HOME PAGE START    ======== -->
                    <section class="home-page tab-pane fade in active" id="home">
                        <div class="home-background">

                            <div class="home-overlay" id="particles-overl">

                                <div class="middle-c">
                                    <div class="middle-l text-center">
                                        <div class="m-content">
                                            <h1><%= homeInfo?.first_name +' '+homeInfo?.middle_name+' '+homeInfo?.last_name %></h1>
                                            <h3><span></span></h3>
                                            <input hidden id="home-remarks" value="<%= homeInfo?.remarks %>">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </section>
                    <!-- =========    HOME PAGE END    ======== -->
                    <%- include('../aboutme/about-me')  %>
                    <%- include('../resume/resume')  %>
                    <%- include('../portfolio/portfolio')  %>
                    <%- include('../blog/blog')  %>
                    <%- include('../contact-info/contact-info')  %>

                

                </div>

            </div>

        </div>
    </div>
</div>
<!-- =========    END CONTAINER    ======== -->