<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <%- include('../partials/messages') %>
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">
                                    <%= pageTitle %>
                                </h4>
                            </div>
                            <% if(checkPermissions(user, "frontend-management.portfolio.create" )==true) { %>
                                <a class="btn main-pg-btn btn-icon-text mr-2 pull-right" href="/system/portfolio/create"
                                    role="button"><i class="fa fa-plus"></i> Add New
                                </a>
                                <% } %>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive">
                               
                                <table class="table text__bold text-nowrap " id="gallery-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                SN
                                            </th>
                                            <th>
                                                Image Title
                                                <%- orderAndSort(url, 'image_title' , query) %>
                                            </th>
                                            <th>
                                                Tag
                                                <%- orderAndSort(url, 'tag' , query) %>
                                            </th>
                                            <th>
                                                Image
                                                </th>    <th>
                                                Position
                                                </th>
                                               
                                            <% if(checkPermissions(user, "frontend-management.portfolio.edit" )==true ||
                                                checkPermissions(user, "frontend-management.portfolio.delete" )==true) { %>
                                                <th>Action</th>
                                                <% } %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(docs.length> 0){
                                            sn = (pageNum - 1) * pageLimit;
                                            docs.forEach(function(admin) { %>
                                            <tr >
                                                <td>
                                                    <%= sn +=1 %>
                                                </td>
                                                <td>
                                                    <%=   admin?.image_title ??  'Page title:-'+admin?.page_title + ' --Page sub title:-'+ admin?.page_sub_title %>
                                                </td>
                                                <td>
                                                    <span
                                                                    class="text-uppercase statusBadge badge badge-secondary"> <%= admin.tag ? admin.tag : nil %></span>
                                                </td>

                                                <td style="overflow: hidden; width: 100px;">
                                                    <%if(admin.image){%>
                                                   <img src="/backend<%= admin.image ? admin.image : nil %>" style="max-width:100%; max-height:100%; object-fit:cover" alt="image">
                                                   <%}%>
                                                </td>
                                                <td class="position" data-id="<%= admin.id%>"> <%=admin?.position%></td>
                                                <td>

                                                    <form id="myform_<%= admin._id %>"
                                                          action="/portfolio/<%= admin._id %>?_method=delete"
                                                          method="post">
                                                        <% if(checkPermissions(user, "frontend-management.portfolio.edit") == true ) { %>
                                                            <a class="btn btn-white  my-2 mr-2"
                                                               href="/system/portfolio/<%= admin._id %>"
                                                               role="button">
                                                                <i class="fa fa-edit"></i>
                                                                <%= 'Edit' %>
                                                            </a>
                                                        <% } %>

                                                        <input type="hidden" value="DELETE" name="method">
                                                        <% if(checkPermissions(user, "frontend-management.portfolio.delete") == true ) { %>
                                                            <button type="button"
                                                                    class="btn btn-danger my-2 mr-2 btn-delete confirm-delete"
                                                                    data-toggle="modal"
                                                                    data-target="#confirmDeleteModal"
                                                                    data-href="/system/portfolio/<%= admin._id %>?_method=delete"
                                                                    data-title="<%= 'Delete Portfolio' %>"
                                                                    data-description=" <%= 'Are you sure you want to delete?' %>">
                                                                <i class="fa fa-trash-alt"> </i>
                                                                <%= 'Delete' %>
                                                            </button>
                                                        <% } %>
                                                    </form>
                                                </td>
                                            </tr>
                                            <% }); } else { %>
                                                <tr>
                                                    <td colspan="6" style="text-align:center;">
                                                        No Records found.
                                                    </td>
                                                </tr>
                                                <% } %>
                                    </tbody>
                                </table>

                            </div>
                            <% if(docs.length> 0){ %>
                                <%- include('../partials/pagination', {passedPageTab:11}) %>
                                    <% } %>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<style>
    .dragging {
        background: rgb(130, 114, 114) !important;
}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
  $("#gallery-table  tbody").sortable({
    helper: "clone",
    start: function(event, ui) {
        console.log('ui: ', ui);
      ui.item.addClass("dragging");
    },
    stop: function(event, ui) {
        ui.item.removeClass("dragging");
      updatePositions();
    }
  });
});

function updatePositions() {
  $("#gallery-table tbody tr").each(function(index) {
    
    $(this).find(".position").text(index + 1);
    let column = $(this).find(".position").data('id')
    $.ajax({
    type: "POST",
    url: "/system/portfolio/update_positions",
    data: { column : column , position: index + 1},
    success: function(data) {
      console.log(data);
    }
  });

  });
}

</script>
