<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 ">
                <%- include('../partials/messages') %>

                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">
                                    <%= pageTitle %>
                                </h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <form action="/system/blog" class="form " method="post" enctype="multipart/form-data">
                                <input type="hidden" name="_csrf" value="<%-csrfToken%>">
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="title">Page Head Title</label> <span style="color:red;">*</span>
                                        <input type="text" class="form-control  " value="<%= blogPageTitle?.page_title%>"name="page_title" id="page_title"
                                            required>
                                        <div class="invalid-feedback">
                                            Please set Page Head Title
                                        </div>
                                    </div>  
                                    
                                    <div class="col-md-12 mb-3">
                                        <label for="title">Page Head Sub Title</label> <span style="color:red;">*</span>
                                        <input type="text" class="form-control  " value="<%= blogPageTitle?.page_sub_title%>"name="page_sub_title" id="page_sub_title"
                                            required>
                                        <div class="invalid-feedback">
                                            Please set Page Head Sub Title
                                        </div>
                                    </div>  
                                    
                                    <div class="col-md-12 mb-3">
                                        <label for="title">Title</label> <span style="color:red;">*</span>
                                        <input type="text" class="form-control  " name="title" id="title"
                                            required>
                                            <input type="hidden" class="form-control  " name="type" id="title"  value="blog">
                                        <div class="invalid-feedback">
                                            Please set Title
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label for="title">Image </label> <span style="color:red;">*</span>
                                        <input type="file" name="image" class="form-control " required>
                                        <div class="invalid-feedback">
                                            Please set Image
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="title">Detail </label>
                                        <textarea class="form-control ckeditor"  name="detail"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">
                                        Save
                                    </button>
                                    <button class="btn iq-bg-danger" type="button">
                                        <a href="/system/blog" role="button">
                                            Cancel
                                        </a>
                                    </button>
                                </div>
                            
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<style>
    .range-input {
        display: flex;
        align-items: center;
    }

    .range-input label {
        margin-right: 10px;
    }

    select {
        font-family: fontAwesome
    }

    .removeSectionOneRow,
    .addSectionOneRow {

        font-size: 11px;
        flex-wrap: nowrap;
        white-space: nowrap;

    }
    .ck-editor__editable_inline {
    min-height: 400px;
}
</style>
<script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
<script>
     ClassicEditor
                                .create( document.querySelector( '.ckeditor' ) )
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
</script>