<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 ">
                <%- include('../partials/messages') %>

                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">
                                    <%= pageTitle %>
                                </h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive border">
                                <table class="table text__bold text-nowrap text-md-nowrap table-striped mg-b-0">
                                    <thead>
                                    <tr>
                                        <th>Name></th>
                                        <th>Value</th>
                                        <!-- <% if(checkPermissions(user, "email-templates.email-templates..edit") == true || checkPermissions(user, "email-templates.email-templates..delete") == true ) { %>
                                            <th>Action></th>
                                        <% } %> -->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <%
                                    if(docs.length > 0){
                                    docs.forEach(function(config) {
                                    %>

                                        <tr style="height: 50px;">
                                            <td style="padding-left: 10px;">
                                                <%= config.name %><br>
                                                <% if(config.help_text){ %>
                                                (<%= config.help_text %>)
                                                <% } %>
                                            </td>
                                            <td>
                                            <form action="<%-url+'/'+config.id %>?_method=PUT" method="post" id="form" enctype="multipart/form-data">
                                                <input type="hidden" name="_csrf" value="<%-csrfToken%>">
                                                <div class="input-group">
                                                <% if(config.type == "checkbox"){ %>
                                                    <input onclick="submit()" name="checkbox" type="checkbox" <% if(config.value == 'true'){%> checked <%}%>>
                                                <% }else{ %>
                                                    <input autocomplete="off" type="<%= config.type ? config.type : 'text' %>" class="form-control <%= config.name === 'Null Field'|| config.name === 'Assessment Gdrive Folder' || config.name === 'Assessment Gdrive Path' ? '' : 'onlynum' %>" onchange="submit()"
                                                    <% if(checkPermissions(user, "configs.configs.edit") !== true ) {%>
                                                        disabled="" 
                                                    <%}%>
                                                    name="value" class="form-control" value="<%= config.value ? config.value : nil %>" required>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2"><%= config.attribute %></span>
                                                      </div>
                                                    </div>
                                                <% } %>
                                                
                                                
                                            </form>
                                                
                                            </td>
                                        </tr>

                                    <% });
                                    }else{
                                    %>
                                        <tr>
                                            <td colspan="4" style="text-align:center; height: 50px;">
                                                No Records found.
                                            </td>
                                        </tr>
                                    <% } %>

                                    </tbody>
                                </table>
                                <% if(docs.length > 0){ %>
                                    <div style="padding-left: 10px;">
                                        <%- include('../partials/pagination')  %>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>
    </div>

</div>