<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 ">
                <%- include('../partials/messages') %>

                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">
                                    <%= pageTitle %>
                                </h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive border">
                                <table class="table text__bold text-nowrap text-md-nowrap table-striped mg-b-0">
                                    <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Admin Name</th>
                                        <th>Ip address</th>
                                        <th>Login Date Time</th>
                                        <th>Logout Date Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% if(docs.length > 0){
                                        sn = (pageNum-1) * pageLimit;
                                    docs.forEach(function(item) { %>
                                        <tr>
                                            <td><%= sn += 1 %></td>
                                            <td><%= item.admins ?  item?.admins?.display_name : '' %></td>
                                            <td><%= item.login_ip_address ? item.login_ip_address : nil %></td>
                                            <td><%= item.login_date_time ? formatDate(item.login_date_time,"YYYY/MM/DD HH:mm:ss") : nil %></td>
                                            <td><%= item.logout_date_time ? formatDate(item.logout_date_time,"YYYY/MM/DD HH:mm:ss") : nil %></td>
                                        </tr>
                                    <% });
                                    } else{ %>
                                        <tr>                                          
                                                <td colspan="5" style="text-align:center;">
                                                    No Records found
                                                </td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                                <% if(docs.length > 0){ %>
                                    <%- include('../partials/pagination')  %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>
    </div>

</div>