<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 ">
                <%- include('../partials/messages') %>

                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">
                                    <%= pageTitle %>
                                </h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <form action="/system/resume?_method=PUT" class="form " method="post">
                                <input type="hidden" name="_csrf" value="<%-csrfToken%>">
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="title">Page Head Title</label> <span style="color:red;">*</span>
                                        <input type="text" class="form-control  " name="page_title" id="page_title"
                                            value="<%= inputData && inputData.page_title ? inputData.page_title : admin?.page_title %>"
                                            required>
                                        <div class="invalid-feedback">
                                            Please set Page Head Title
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="work_experience_detail">Work Experience Detail</label>
                                        <table class="work_experience_detail table " id="work_experience_detail"
                                            data-status="work-experience">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Title</th>
                                                    <th scope="col" width="150px">Start date</th>
                                                    <th scope="col" width="150px">End date</th>
                                                    <th scope="col" width="500px">Detail</th>
                                                    <th scope="col " class="col-2" colspan="2">Position</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(work_experience_detail?.docs !=null &&
                                                    work_experience_detail?.docs.length> 0){
                                                    work_experience_detail?.docs.forEach(function(subsectionone,key) {
                                                    %>
                                                    <tr>
                                                        <td><input name="work_experience_detail_row[<%= key %>][title]"
                                                                value="<%= subsectionone?.title %>"
                                                                class="form-control " required>
                                                        </td>
                                                        <td>
                                                            <input type="date"
                                                                name="work_experience_detail_row[<%= key %>][start_date]"
                                                                value="<%= formatDate(subsectionone?.start_date,'YYYY-MM-DD')  %>"
                                                                class="form-control " required>
                                                        </td>
                                                        <td>
                                                            <input  type="date"
                                                                name="work_experience_detail_row[<%= key %>][end_date]"
                                                                value="<%= formatDate(subsectionone?.end_date,'YYYY-MM-DD') %>"
                                                                class="form-control " required>
                                                        </td>

                                                        <td>
                                                            <textarea class="form-control "
                                                                name="work_experience_detail_row[<%= key %>][detail]" required><%= subsectionone?.detail %></textarea>

                                                        </td>
                                                        <td>
                                                            <input type="number"
                                                                name="work_experience_detail_row[<%= key %>][position]"
                                                                value="<%= subsectionone?.position %>"
                                                                class="form-control col-5" required>
                                                        </td>
                                                        <td hidden>
                                                            <input name="work_experience_detail_row[<%= key %>][type]"
                                                                value="work-experience" class="form-control col-5">
                                                        </td>

                                                        <td>
                                                            <div class=" removeSectionOneRow addremoveRowBtn ">
                                                                <i class="fas fa-minus"> Remove</i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% });} else if(!inputData) { %>
                                                        <tr>
                                                            <td><input name="work_experience_detail_row[0][title]"
                                                                    class="form-control " required>
                                                            </td>
                                                            <td>
                                                                <input type="date" name="work_experience_detail_row[0][start_date]"
                                                                    class="form-control " required>
                                                            </td>
                                                            <td>
                                                                <input type="date" name="work_experience_detail_row[0][end_date]"
                                                                    class="form-control " required>
                                                            </td>

                                                            <td>
                                                                <textarea class="form-control "
                                                                    name="work_experience_detail_row[0][detail]" required></textarea>

                                                            </td>
                                                            <td>
                                                                <input type="number"
                                                                    name="work_experience_detail_row[0][position]"
                                                                    class="form-control col-5 " required>
                                                            </td>
                                                            <td hidden>
                                                                <input name="work_experience_detail_row[0][type]"
                                                                    value="work-experience" class="form-control col-5">
                                                            </td>

                                                            <td>
                                                                <div
                                                                    class="inner__table__signs removeSectionOneRow addremoveRowBtn ">
                                                                    <i class="fas fa-minus"> Remove</i>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <%}else{ %>
                                                        <% inputData?.work_experience_detail_row?.forEach(function(subsectionone,key) {%>
                                                            <tr>
                                                                <td><input name="work_experience_detail_row[<%= key %>][title]"
                                                                        value="<%= subsectionone?.title %>"
                                                                        class="form-control " required>
                                                                </td>
                                                                <td>
                                                                    <input type="date"
                                                                        name="work_experience_detail_row[<%= key %>][start_date]"
                                                                        value="<%= formatDate(subsectionone?.start_date,'YYYY-MM-DD')  %>"
                                                                        class="form-control " required>
                                                                </td>
                                                                <td>
                                                                    <input  type="date"
                                                                        name="work_experience_detail_row[<%= key %>][end_date]"
                                                                        value="<%= formatDate(subsectionone?.end_date,'YYYY-MM-DD') %>"
                                                                        class="form-control " required>
                                                                </td>
        
                                                                <td>
                                                                    <textarea class="form-control "
                                                                        name="work_experience_detail_row[<%= key %>][detail]" required><%= subsectionone?.detail %></textarea>
        
                                                                </td>
                                                                <td>
                                                                    <input type="number"
                                                                        name="work_experience_detail_row[<%= key %>][position]"
                                                                        value="<%= subsectionone?.position %>"
                                                                        class="form-control col-5" required>
                                                                </td>
                                                                <td hidden>
                                                                    <input name="work_experience_detail_row[<%= key %>][type]"
                                                                        value="work-experience" class="form-control col-5">
                                                                </td>
        
                                                                <td>
                                                                    <div class=" removeSectionOneRow addremoveRowBtn ">
                                                                        <i class="fas fa-minus"> Remove</i>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <%})%>
                                                            <%}%>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="6">
                                                        <div
                                                            class="d-flex flex-wrap justify-content-end addremoveRowBtn">
                                                            <div class="inner__table__signs addSectionOneRow ">
                                                                <i class="fas fa-plus"> Add row</i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>

                                        </table>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label for="education_detail">Education Detail</label>
                                        <table class="education_detail table " id="education_detail"
                                            data-status="education">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Title</th>
                                                    <th scope="col" width="150px">Start date</th>
                                                    <th scope="col" width="150px">End date</th>
                                                    <th scope="col" width="500px">Detail</th>
                                                    <th scope="col " class="col-2" colspan="2">Position</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(education_detail?.docs !=null &&
                                                education_detail?.docs.length > 0){
                                                    education_detail?.docs.forEach(function(education,key) { %>
                                                    <tr>
                                                        <td><input name="education_detail_row[<%= key %>][title]"
                                                                value="<%= education?.title %>" class="form-control ">
                                                        </td>
                                                        <td>
                                                            <input type="date" name="education_detail_row[<%= key %>][start_date]"
                                                                value="<%= formatDate(education?.start_date,'YYYY-MM-DD') %>"
                                                                class="form-control datepicker ">
                                                        </td>
                                                        <td>
                                                            <input type="date" name="education_detail_row[<%= key %>][end_date]"
                                                                value="<%= formatDate(education?.end_date,'YYYY-MM-DD') %>"
                                                                class="form-control ">
                                                        </td>

                                                        <td>
                                                            <textarea class="form-control "
                                                                name="education_detail_row[<%= key %>][detail]"><%= education?.detail %></textarea>

                                                        </td>
                                                        <td>
                                                            <input type="number"
                                                                name="education_detail_row[<%= key %>][position]"
                                                                value="<%= education?.position %>"
                                                                class="form-control col-5">
                                                        </td>
                                                        <td hidden>
                                                            <input name="education_detail_row[<%= key %>][type]"
                                                                value="education" class="form-control col-5">
                                                        </td>

                                                        <td>
                                                            <div class=" removeSectionOneRow addremoveRowBtn ">
                                                                <i class="fas fa-minus"> Remove</i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% });} else if(!inputData) { %>
                                                        <tr>
                                                            <td><input name="education_detail_row[0][title]"
                                                                    class="form-control " required>
                                                            </td>
                                                            <td>
                                                                <input type="date" name="education_detail_row[0][start_date]"
                                                                    class="form-control datepicker" required>
                                                            </td>
                                                            <td>
                                                                <input type="date" name="education_detail_row[0][end_date]"
                                                                    class="form-control " required>
                                                            </td>

                                                            <td>
                                                                <textarea class="form-control "
                                                                    name="education_detail_row[0][detail]" required></textarea>

                                                            </td>
                                                            <td>
                                                                <input type="number"
                                                                    name="education_detail_row[0][position]"
                                                                    class="form-control col-5 " required>
                                                            </td>
                                                            <td hidden>
                                                                <input name="education_detail_row[0][type]"
                                                                    value="education" class="form-control col-5">
                                                            </td>

                                                            <td>
                                                                <div
                                                                    class="inner__table__signs removeSectionOneRow addremoveRowBtn ">
                                                                    <i class="fas fa-minus"> Remove</i>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <%} else{%>
                                                            <% inputData?.education_detail_row?.forEach(function(education,key) {%>
                                                                <tr>
                                                                    <td><input name="education_detail_row[<%= key %>][title]"
                                                                            value="<%= education?.title %>" class="form-control " required>
                                                                    </td>
                                                                    <td>
                                                                        <input type="date" name="education_detail_row[<%= key %>][start_date]"
                                                                            value="<%= formatDate(education?.start_date,'YYYY-MM-DD') %>"
                                                                            class="form-control datepicker " required>
                                                                    </td>
                                                                    <td>
                                                                        <input type="date" name="education_detail_row[<%= key %>][end_date]"
                                                                            value="<%= formatDate(education?.end_date,'YYYY-MM-DD') %>"
                                                                            class="form-control " required>
                                                                    </td>
            
                                                                    <td>
                                                                        <textarea class="form-control "
                                                                            name="education_detail_row[<%= key %>][detail]" required><%= education?.detail %></textarea>
            
                                                                    </td>
                                                                    <td>
                                                                        <input type="number"
                                                                            name="education_detail_row[<%= key %>][position]"
                                                                            value="<%= education?.position %>"
                                                                            class="form-control col-5" required>
                                                                    </td>
                                                                    <td hidden>
                                                                        <input name="education_detail_row[<%= key %>][type]"
                                                                            value="education" class="form-control col-5">
                                                                    </td>
            
                                                                    <td>
                                                                        <div class=" removeSectionOneRow addremoveRowBtn ">
                                                                            <i class="fas fa-minus"> Remove</i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                    <%})%>
                                                        <%} %>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="6">
                                                        <div
                                                            class="d-flex flex-wrap justify-content-end addremoveRowBtn">
                                                            <div class="inner__table__signs addSectionOneRow ">
                                                                <i class="fas fa-plus"> Add row</i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>

                                        </table>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <button class="btn btn-primary" type="submit">
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<style>
    .range-input {
        display: flex;
        align-items: center;
    }

    .range-input label {
        margin-right: 10px;
    }

    select {
        font-family: fontAwesome
    }

    .removeSectionOneRow,
    .addSectionOneRow {

        font-size: 11px;
        flex-wrap: nowrap;
        white-space: nowrap;

    }
</style>


<!-- <div class="d-none"> -->

<!-- </div> -->
<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode != 45 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    $('body').on('change', '.myRange', function () {
        var value = $(this).val();
        var rangeValue = $(this).closest('.range-input').find('#rangeValue').text(value + '%');
    });

    $('body').on('click', '.addSectionOneRow', function () {
        var table = $(this).closest('table');
        let tableDataId = table.data('status');
        var tableId = table.attr('id');
        let clone = $(`#${tableId} tbody tr:first`).clone();
        clone.find('#rangeValue').text(50 + '%');
        var table = $(`#${tableId} tbody`);
        var rowCount = table.find('tr').length;
        clone.find('td input').val('');
        clone.find('td textarea').val('');

        clone.find('td:first input').attr('name', `${tableId}_row[${rowCount + 1}][title]`).val('');
        clone.find('td:eq(1) input').attr('name', `${tableId}_row[${rowCount + 1}][start_date]`).val('');
        clone.find('td:eq(2) input').attr('name', `${tableId}_row[${rowCount + 1}][end_date]`).val('');
        clone.find('textarea').attr('name', `${tableId}_row[${rowCount + 1}][detail]`).val('');
        clone.find('td:eq(4) input').attr('name', `${tableId}_row[${rowCount + 1}][position]`).val('');
        clone.find('td:eq(5) input').attr('name', `${tableId}_row[${rowCount + 1}][type]`).val(tableDataId);
        $(`#${tableId} tbody`).append(clone);
    });

    $('body').on('click', '.removeSectionOneRow', function () {
        var table = $(this).closest('table');
        var tableId = table.attr('id');
        var table = $(`#${tableId} tbody`);
        var rowCount = table.find('tr').length;
        if (rowCount > 1)
            $(this).closest('tr').remove();
    });
</script>


<!-- End Main Content-->