<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <%- include('../partials/messages') %>
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">
                                    <%= pageTitle %>
                                </h4>
                            </div>
                            <% if(checkPermissions(user, "user-management.admin-roles.create" )==true) { %>
                                <a class="btn main-pg-btn btn-icon-text my-2 mr-2 pull-right" href="/admin-roles/create"
                                    role="button">
                                    <i class="fa fa-plus"> </i> Add New</a>
                                <% } %>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive">
                                <div class="row justify-content-between">
                                    <div class="col-sm-12 col-md-6">
                                        <%- include('../partials/basic-search-form') %>
                                    </div>

                                </div>
                                <table class="table table-striped table-bordered mt-4" role="grid"
                                    aria-describedby="role-list-page-info">
                                    <thead>
                                        <tr>
                                            <th>SN</th>
                                            <th>Name</th>
                                            <th>Slug</th>
                                            <% if(checkPermissions(user, "user-management.admin-roles.edit" )==true ||
                                                checkPermissions(user, "user-management.admin-roles.delete" )==true) {
                                                %>
                                                <th>Action</th>
                                                <% } %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(docs.length> 0){
                                            sn = (pageNum-1) * pageLimit;
                                            docs.forEach(function(role) { %>
                                            <tr>
                                                <td>
                                                    <%= sn +=1 %>
                                                </td>
                                                <td>
                                                    <%= role.name ? role.name : nil %>
                                                </td>
                                                <td>
                                                    <%= role.slug ? role.slug : nil %>
                                                </td>
                                                <td>
                                                    <% if((checkPermissions(user, "user-management.admin-roles.edit"
                                                        )==true ||
                                                        checkPermissions(user, "user-management.admin-roles.delete"
                                                        )==true) && role.slug !=="superadmin" ) { %>
                                                        <% if(checkPermissions(user, "admin-roles.admin-roles.edit"
                                                            )==true) { %>
                                                            <a class="btn btn-white  my-2 mr-2"
                                                                href="/admin-roles/<%= role._id %>" role="button">
                                                                <i class="fa fa-edit"></i>
                                                                Edit</a>
                                                            <% } %>

                                                                <% if(checkPermissions(user, "user-management.admin-roles.delete"
                                                                    )==true) { %>
                                                                    <button type="button"
                                                                        class="btn btn-danger my-2 mr-2 btn-delete confirm-delete"
                                                                        data-toggle="modal"
                                                                        data-target="#confirmDeleteModal"
                                                                        data-href="/admin-roles/<%= role.id %>?_method=delete"
                                                                        data-title="Delete Role"
                                                                        data-description="Are you sure you want to delete?"><i
                                                                            class="fa fa-trash-alt"></i> Delete</button>
                                                                    <% } %>
                                                                        <% } %>

                                                </td>
                                            </tr>
                                            <% }); } else{ %>
                                                <tr>
                                                    <td colspan="4" style="text-align:center;">
                                                        No Records found.
                                                    </td>
                                                </tr>
                                                <% } %>
                                    </tbody>
                                </table>

                            </div>
                            <% if(docs.length> 0){ %>
                                <%- include('../partials/pagination') %>
                                    <% } %>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>