<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 ">
                <%- include('../partials/messages') %>

                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">
                                    <%= pageTitle %>
                                </h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <form action="/admins/<%= admin._id %>/change-password?_method=PUT" method="post">
                                <input type="hidden" name="_csrf" value="<%-csrfToken%>">
                                <%- include('./includes/change-password-form') %>
                                <div class="form-group">
                                
                                    <button class="btn btn-primary" type="submit">
                                        Save
                                    </button>
                                
                                    <button class="btn iq-bg-danger" type="button">
                                        <a href="/admins" role="button">
                                            Cancel
                                        </a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>




<!-- Main Content-->
