<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 ">
                <%- include('../partials/messages') %>

                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">
                                    <%= pageTitle %>
                                </h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <form action="/system/admins/<%= admin._id %>?_method=PUT" class="form employeeEditForm" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="_csrf" value="<%-csrfToken%>">
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="first_name">First name</label> <span style="color:red;">*</span>
                                        <input type="text" class="form-control  " name="first_name" id="first_name"
                                            value="<%= inputData && inputData.first_name ? inputData.first_name : admin.first_name %>"
                                            required>
                                        <div class="invalid-feedback">
                                            Please set First Name
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="last_name">Last name</label>
                                        <span style="color:red;">*</span>
                                        <input type="text" class="form-control " name="last_name"
                                            value="<%= inputData && inputData.last_name ? inputData.last_name : admin.last_name %>"
                                            id="last_name" required>
                                        <div class="invalid-feedback">
                                            Please set Last Name
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="email">Email</label>
                                        <span style="color:red;">*</span>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            </div>
                                
                                            <input type="email" class="form-control  " name="email" id="email"
                                                value="<%= inputData && inputData.email ? inputData.email : admin.email %>"
                                                required>
                                            <div class="invalid-feedback">
                                                Please Set valid Email.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="username">Username</label> <span style="color:red;">*</span>
                                        <input type="text" class="form-control  " name="username" id="username"
                                            value="<%= inputData && inputData.username ? inputData.username : admin.username %>"
                                            required>
                                        <div class="invalid-feedback">
                                            Please provide Username.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="contact_number">Telephone No</label>
                                        <span style="color:red;">*</span>
                                        <div class="invalid-feedback">
                                            Please valid Telephone Number.
                                        </div>
                                
                                        <input type="tel" class="form-control  " onkeypress='return isNumberKey(event)'
                                            id="contact_number" name="contact_number" maxlength="13"
                                            value="<%= inputData && inputData.contact_number ? inputData.contact_number : admin.contact_number %>"
                                            required>
                                
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="mobile_num">Mobile No</label>
                                        <input type="tel" class="form-control  " name="mobile_num" id="mobile_num"
                                            onkeypress='return isNumberKey(event)' maxlength="13"
                                            value="<%= inputData && inputData.mobile_num ? inputData.mobile_num : admin.mobile_num %>">
                                    </div>
                                
                                    <div class="col-md-6 mb-3">
                                        <label for="fax">Fax</label>
                                        <input type="tel" class="form-control  onlynumIncludeDash" name="fax"
                                            maxlength="13" id="fax"
                                            value="<%= inputData && inputData.fax ? inputData.fax : admin.fax %>">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="image">Image</label>
                                        <input class="form-control " type="file" id="image" name="image"
                                            accept="image/png, image/jpeg, image/jpg">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="fax">Admin Roles </label>
                                        <span style="color:red;">*</span>
                                        <% if(admin._id !== MAINSUPERADMIN) { %>
                                            <select class="form-control select2" multiple name="role_id" required>
                                                <% roles.forEach(function(role) { %>
                                                    <option value="<%= role.id %>" 
                                                        
                                                    <%= (admin && admin.role_id === role.id) ? 'selected' : ''%>
                                                
                                                    <%if( typeof (selectedRoles) != "undefined" && selectedRoles.includes(role.id)){%>
                                                        selected
                                                    <%}%> >
                                                    <% if(typeof(inputData) !== "undefined" && inputData.role_id.toString().includes(role.id)){ %> 
                                                        selected
                                                    <% } %> 
                                                    <%= role.name %></option>
                                                <% }); %>
                                            </select>
                                        <%}%>
                                    </div>
                                
                                    <div class="col-md-6 mb-3">
                                        <label for="status">Status</label>
                                        <div class="custom-control custom-switch">
                                                <div>
                                                    <label class="radio-inline" style="margin-right: 25px;">
                                                        <input name="status" type="radio" value="active" <%= admin.status=='active'?'checked': '' %>>
                                                        Active
                                                    </label>
                                                    <label class="radio-inline" style="margin-right: 25px;">
                                                        <input name="status" type="radio" value="inactive" <%= admin.status=='inactive'?'checked': '' %>>
                                                        Inactive
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input name="status" type="radio" value="blocked" <%= admin.status=='blocked'?'checked': '' %>>
                                                        Blocked
                                                    </label>
                                                </div>
                                        </div>
                                    </div>
                                
                                    <div class="col-md-6 mb-3">
                                        <label for="remarks">Remarks</label>
                                        <textarea name="remarks" id="remarks" class="form-control "
                                            style="height: 60px;"><%= inputData && inputData.remarks ? inputData.remarks : admin.remarks %></textarea>
                                    </div>
                                
                                </div>
                                <div class="form-group">
                                
                                    <button class="btn btn-primary" type="submit">
                                        Save
                                    </button>
                                
                                    <button class="btn iq-bg-danger" type="button">
                                        <a href="/system/admins" role="button">
                                            Cancel
                                        </a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode != 45 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
<script src="/js/employee.js" defer></script>

<!-- End Main Content-->